* {

    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}


:root {

    background-color: #dcdcdc;

}


.div-pai {

    display: flex;
    justify-content: center;
    overflow: hidden;

}


.div-main {

    background-color: white;
    width: 1000px;
    border: solid #000000 1px;
    height: 959px;

}


.quadrado {

    background-color: #003147;
    width: 350px;
    height: 959px;
    overflow: hidden;

}

#image-profile {

    position: absolute;
    width:200px;
    top:40px;
    left:490px;
    border: solid white 1px;
    border-radius: 999999px;

}


#nome-completo {

    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    color:white;
    top:260px;
    left:468px;

}


#cargo {

    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size:28px;
    color: rgb(229, 229, 229);
    top: 309px;
    left: 550px;

}

/* NÃO ESTOU CONSEGUINDO MOVER OS ELEMENTOS DENTRO DESTÁ DIV */
.span-contatos{

    display: flex;
    top:203px;

}
/* NÃO CONSIGO MOVER OS ELEMENTOS DENTRO DESTÁ DIV */

.divisor-superior {

    border: solid rgba(255, 255, 255, 0.356) 1px;
    border-radius: 90000px;
    position: absolute;
    width: 300px;
    right: 1109px;
    bottom: 580px;

}

.divisor-inferior{

    border: solid rgba(255, 255, 255, 0.356) 1px;
    border-radius: 9000px;
    position: absolute;
    width: 300px;
    right: 1109px;
    bottom: 380px;

}

#telefone-icon{

    position: absolute;
    width:30px;
    bottom: 499px;
    margin-left: 30px;

}

#number{

    position: absolute;
    width: 290px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color:white;
    bottom: 500px;
    margin-left: 75px;

}

#email-icon{

    position: absolute;
    width: 30px;
    bottom: 449px;
    margin-left: 32px;

}

#email-text{

    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: white;
    bottom: 450px;
    margin-left: 75px;

}

#website-icon{

    position: absolute;
    width: 30px;
    bottom: 399px;
    margin-left: 32px;

}

#website-text{

    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: white;
    bottom: 399px;
    margin-left: 75px;

}